@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css');

*{
  margin: 0;
  padding: 0;
}
body{
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
}
.bg-blue{
  background: blue;
}
@media(min-width: 1300px){
  .container, .container-lg, .container-md, .container-sm, .container-xl{
    max-width: 1200px;
  }
}

::-webkit-scrollbar{
  width: 8px !important;
  height: 8px !important;
}
::-webkit-scrollbar-thumb{
  background: #ccc !important;
}
::-webkit-scrollbar-track{
  background: transparent !important;
}
.headerWrapper{
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  
}
.headerWrapper .top-strip{
  padding: 8px 0;
}
.headerWrapper .top-strip{
  color: #fff;
  font-size: 12px;
  font-weight: 500;
}
.headerWrapper .header{
  width: 100%;
  height: auto;
  padding: 10px 0;
}
.logoWrapper img {
  width: 60%;
}
.headerWrapper .header .part2 .countryDrop{
  width: 150px;
  height: 60px;
  min-width: 150px;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  border-radius: 7px;
  padding: 10px 15px;
  outline: none;
}
.headerWrapper .header .part2 .countryDrop{
  text-align: left;
  justify-content: flex-start;
}
.headerWrapper .header .part2 .countryDrop .label{
  font-size: 12px;
  text-transform: capitalize !important;
  color: rgba(0, 0, 0, 0.4) !important;
  line-height: 16px;
}
.headerWrapper .header .part2 .countryDrop .name{
  font-size: 14px;
  text-transform: capitalize !important;
  color: #233a95 !important;
  font-weight: 700;
  line-height: 16px;
}
.headerWrapper .header .part2 .countryDrop span.ml-auto svg{
  opacity: 0.7;
}
 .headerSearch{
  width: 60%;
  height: 60px;
  background: #f3f4f7;
  padding: 5px;
  position: relative;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
 .headerSearch input{
  background: transparent !important;
  outline: none !important;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 40px;
  border: 0 !important;
  padding: 0 20px !important;
}
 .headerSearch input::-webkit-input-placeholder{
  color: rgba(0, 0, 0, 0.6);
}
 .headerSearch button{
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 100;
  min-width: 40px !important;
  height: 40px !important;
  width: 40px !important;
  border-radius: 50% !important;
  outline: none;
}
 .headerSearch button svg{
  font-size: 25px;
  opacity: 0.8;
}
 .part3 .circle{
  align-items: center;
  justify-content: center;
  min-width: 50px !important;
  height: 50px !important;
  width: 50px !important;
  border-radius: 50% !important;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  outline: none;
}
header .part3 .circle svg{
  font-size: 25px;
}
.cartTab button{
  background: #fff1ee !important;
}
.cartTab{
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 700;
}
.cartTab button svg{
  color: #ea2b0f !important;
}
.cartTab .count {
  position: absolute;
  top: 15px;
  right: 15px;
  background: #ea2b0f;
  border-radius: 50%;
  color: #fff;
  width: 20px;
  height: 20px;
}
.locationModal .MuiPaper-elevation{
  padding: 25px;
  position: relative;
}
.locationModal .countryList{
  margin-bottom: 0;
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.locationModal .countryList li{
  width: 100%;
  list-style: none;
}
.locationModal .countryList li button{
  width: 100%;
  text-transform: capitalize !important;
  color: #000 !important;
  justify-content: flex-start;
  outline: none;
  padding: 10px 20px !important;
}
.locationModal .countryList li button:hover{
  background: #fafafa !important;
}
.locationModal .countryList li button:active{
  background: #e2e2e2 !important;
}
.locationModal .close_{
  position: absolute;
  top: 10px;
  right: 10px;
  color: #000 !important;
  min-width: 40px !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
  outline: none;
}
.locationModal .close_ svg{
  font-size: 22px;
}
nav .allCatTab{
  background: #2bbef9;
  padding: 10px 15px !important;
  border-radius: 30px;
  outline: none;
}
nav .allCatTab *{
  color: #fff;
}
nav .allCatTab:hover {
  background: #2bbef9;
}
nav .allCatTab .text{
  font-weight: 600;
  font-size: 14px;
}
nav .allCatTab .icon1 svg{
  font-size: 20px !important;
}
nav .allCatTab .icon2 svg{
  font-size: 15px !important;
}
nav .navPart1 .catWrapper{
  position: relative;
}
nav .navPart1 .catWrapper .sidebarNav{
  width: 100%;
  height: 0;
  opacity: 0;
  background: #fff;
  position: absolute;
  top: 145%;
  left: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 0;
  transition: all 0.3s;
  visibility: hidden;
  z-index: 100;
}
nav .navPart1 .catWrapper .sidebarNav.open{
  height: auto;
  opacity: 1;
  visibility: inherit;
}
nav .navPart1 .catWrapper .sidebarNav ul li{
  width: 100%;
  list-style: none;
  padding: 0 10px;
}
nav .navPart1 .catWrapper .sidebarNav ul li button{
  color: #000;
  width: 100%;
  justify-content: flex-start;
  outline: none;
  text-transform: capitalize !important;
}
nav .navPart1 .catWrapper .sidebarNav ul li button:hover{
  background: transparent !important;
}
nav .navPart1 .catWrapper .sidebarNav ul li button svg{
  font-size: 12px;
  opacity: 0.6;
}
nav .navPart1 .catWrapper .sidebarNav ul li{
  position: static;
}

nav .navPart1 .catWrapper .sidebarNav ul li .submenu{
  position: absolute;
  top: 0;
  left: 100%;
  width: 250px;
  height: 100%;
  background: #fff;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px;
}
nav .navPart1 .catWrapper .sidebarNav ul li:hover .submenu{
  opacity: 1;
  visibility: inherit;
  left: 100%;
}
nav .navPart1 .catWrapper .sidebarNav ul li:hover .submenu button{
  border-radius: 0;
}
nav .navPart2 ul{
  margin-bottom: 0;
}
nav .navPart2 ul li{
  padding-bottom: 20px;
} 
nav .navPart2 ul li a{
  text-decoration: none;
}
nav .navPart2 ul li a button{
  font-size: 14px !important;
  font-weight: 600;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  transition: all 0.2s ease-in-out;
  border-radius: 35px;
  opacity: 0.9;
  outline: none;
}
nav .navPart2 ul li a svg{
  font-size: 20px;
}
nav .navPart2 ul li a:hover{
  background: #f0faff;
  color: #2bbef9;
}
nav .navPart2 ul li{
  position: relative;
}
nav .navPart2 ul li .submenu{
  position: absolute;
  top: 150%;
  opacity: 0;
  left: 0;
  min-width: 200px;
  background: #fff;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  z-index: 100;
}
nav .navPart2 ul li .submenu a{
  display: block;
  width: 100%;
}
nav .navPart2 ul li .submenu a button{
  width: 100%;
  justify-content: flex-start;
  border-radius: 0 !important;
  text-transform: capitalize !important;
  font-weight: 600;
}
nav .navPart2 ul li .submenu a button:hover{
  background: #f1f1f1;
}
nav .navPart2 ul li:hover .submenu{
  opacity: 1;
  visibility: inherit;
  top: 100%;
}
.homeBannerSection{
  position: relative;
  overflow: hidden;
}
.homeBannerSection *{
  outline: none !important;
}
.homeBannerSection .slick-arrow{
  position: absolute;
  top: 45%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px !important;
  height: 40px !important;
  background: #000;
  border-radius: 100%;
}
.homeBannerSection .slick-arrow.slick-next{
  right: 25px !important;
}
.homeBannerSection .slick-arrow.slick-prev{
  left: 25px !important;
}
.cursor{
  cursor: pointer;
  height: 450px !important;
}
.text-light{
  color: #ccc !important;
}
.text-sml{
  font-size: 14px;
}
.homeProducts{
  padding: 25px 0;
  width: 100%;
}
.homeProducts .banner{
  width: 100%;
  height: 450px !important;
  border-radius: 7px;
  overflow: hidden;
}
.productRow .hd{
  font-size: 20px;
  font-weight: 600;
}
.viewAllBtn{
  padding: 8px 25px !important;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  outline: none !important;
  border-radius: 30px !important;
  color: #000 !important;
  font-weight: 600;
  text-transform: capitalize !important;
}
.viewAllBtn svg{
  font-size: 20px;
}
.productItem{
  width: 100%;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.productItem .badge{
  display: inline-block;
  padding: 7px 10px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 100;
}
.productItem .info{
  padding: 15px;

}
.productItem h4{
  font-size: 16px;
  font-weight: 600;
}
.productItem .info .oldPrice{
  font-size: 16px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: line-through;
}
.productItem .info .netPrice{
  font-size: 16px;
  font-weight: bold;
  
}
.product_row .item{
  border-right: 1px solid transparent;
}
.product_row .swiper-slide:last-child .productItem{
  border:  1px solid rgba(0, 0, 0, 0.1);
}
.swiper{
  padding-right: 1px !important;
}
.badge-primary{
  background: #2bbef9 !important;
}
.productItem .actions{
  position: absolute;
  top: 20px;
  right: -100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}
.productItem .actions button{
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px !important;
  height: 40px !important;
  width: 40px !important;
  border:  1px solid rgba(0, 0, 0, 0.1) !important;
  border-radius: 50% !important;
  background: #fff !important;
  outline: none !important;
  box-shadow:  0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%) !important;
  transition: all 0.3s ease-in-out;
}
.productItem .actions button svg{
  font-size: 18px ;
  opacity: 0.8;
  pointer-events: none;
}
.productItem .actions button:hover{
  background: #233a95 !important;
}
.productItem .actions button:hover svg{
  color: #fff;
}
.productItem .imgWrapper{
  overflow: hidden;
}
.productItem .imgWrapper:hover .actions{
  opacity: 1;
  right: 10px;
}
.productItem .imgWrapper img{
  transition: all 0.3s ease-in-out;
}
.productItem .imgWrapper:hover img{
  transform: scale(1.1);
}