@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
}
body{
  font-family: "Lato", sans-serif;
  font-size: 14px;
}
.bg-blue{
  background: blue;
}
@media(min-width: 1300px){
  .container, .container-lg, .container-md, .container-sm, .container-xl{
    max-width: 1200px;
  }
}

::-webkit-scrollbar{
  width: 8px !important;
  height: 8px !important;
}
::-webkit-scrollbar-thumb{
  background: #ccc !important;
}
::-webkit-scrollbar-track{
  background: transparent !important;
}
.headerWrapper{
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;
}
.headerWrapper .top-strip{
  padding: 8px 0;
}
.headerWrapper .top-strip{
  color: #fff;
  font-size: 12px;
  font-weight: 500;
}
.headerWrapper .header{
  width: 100%;
  height: auto;
  padding: 10px 0;
}
.logoWrapper img {
  width: 60%;
}
.headerWrapper .header .part2 .countryDrop{
  width: 150px;
  height: 60px;
  min-width: 150px;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  border-radius: 7px;
  padding: 10px 15px;
  outline: none;
}
.headerWrapper .header .part2 .countryDrop{
  text-align: left;
  justify-content: flex-start;
}
.headerWrapper .header .part2 .countryDrop .label{
  font-size: 12px;
  text-transform: capitalize !important;
  color: rgba(0, 0, 0, 0.4) !important;
  line-height: 16px;
}
.headerWrapper .header .part2 .countryDrop .name{
  font-size: 14px;
  text-transform: capitalize !important;
  color: #233a95 !important;
  font-weight: 700;
  line-height: 16px;
}
.headerWrapper .header .part2 .countryDrop span.ml-auto svg{
  opacity: 0.7;
}
 .headerSearch{
  width: 60%;
  height: 60px;
  background: #f3f4f7;
  padding: 5px;
  position: relative;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
 .headerSearch input{
  background: transparent !important;
  outline: none !important;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 40px;
  border: 0 !important;
  padding: 0 20px !important;
}
 .headerSearch input::-webkit-input-placeholder{
  color: rgba(0, 0, 0, 0.6);
}
 .headerSearch button{
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 100;
  min-width: 40px !important;
  height: 40px !important;
  width: 40px !important;
  border-radius: 50% !important;
  outline: none;
}
 .headerSearch button svg{
  font-size: 25px;
  opacity: 0.8;
}
 .part3 .circle{
  align-items: center;
  justify-content: center;
  min-width: 50px !important;
  height: 50px !important;
  width: 50px !important;
  border-radius: 50% !important;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  outline: none;
}
header .part3 .circle svg{
  font-size: 25px;
}
.cartTab button{
  background: #fff1ee !important;
}
.cartTab{
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 700;
}
.cartTab button svg{
  color: #ea2b0f !important;
}
.cartTab .count {
  position: absolute;
  top: 15px;
  right: 15px;
  background: #ea2b0f;
  border-radius: 50%;
  color: #fff;
  width: 20px;
  height: 20px;
}
.locationModal .MuiPaper-elevation{
  padding: 25px;
  position: relative;
}
.locationModal .countryList{
  margin-bottom: 0;
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.locationModal .countryList li{
  width: 100%;
  list-style: none;
}
.locationModal .countryList li button{
  width: 100%;
  text-transform: capitalize !important;
  color: #000 !important;
  justify-content: flex-start;
  outline: none;
  padding: 10px 20px !important;
}
.locationModal .countryList li button:hover{
  background: #fafafa !important;
}
.locationModal .countryList li button:active{
  background: #e2e2e2 !important;
}
.locationModal .close_{
  position: absolute;
  top: 10px;
  right: 10px;
  color: #000 !important;
  min-width: 40px !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
  outline: none;
}
.locationModal .close_ svg{
  font-size: 22px;
}
nav .allCatTab{
  background: #2bbef9;
  padding: 10px 15px !important;
  border-radius: 30px;
  outline: none;
}
nav .allCatTab *{
  color: #fff;
}
nav .allCatTab:hover {
  background: #2bbef9;
}
nav .allCatTab .text{
  font-weight: 600;
  font-size: 14px;
}
nav .allCatTab .icon1 svg{
  font-size: 20px !important;
}
nav .allCatTab .icon2 svg{
  font-size: 15px !important;
}
nav .navPart2 ul{
  margin-bottom: 0;
}
nav .navPart2 ul li a{
  text-decoration: none;
}
nav .navPart2 ul li a button{
  font-size: 14px !important;
  font-weight: 600;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  transition: all 0.2s ease-in-out;
  border-radius: 35px;
  opacity: 0.9;
}
nav .navPart2 ul li a svg{
  font-size: 20px;
}
nav .navPart2 ul li a:hover{
  background: #f0faff;
  color: #2bbef9;
}